:root {
  /* font-family: Arial, Helvetica, sans-serif,"Be Vietnam Pro", system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-size: large;
  max-width: 100vw;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", Arial, sans-serif;
}