.auth-container {
    height: 100vh;
    width: 60vw;
    margin-left: 30vw;
}

.auth-form {
    color: black;
}

.auth-label {
    color: black;
    text-align: right;
}

.auth-input {
    color: black;
    height: 37%;
    width: 100%;
    border-radius: 5px;
    border: solid black;
    padding: 8px;

}
.auth-button {
    color: white;
    background-color: var(--accent-color);
    align-items: center;
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
    font-size: 16px;
    padding: 12px 20px; 
    border: none;
}


.auth-input {
    border-color: black;
}

.auth-form {
    display: inline-grid;
    padding: 20px;
    width: 50%;
    height: 50%;
}

.auth-title {
    text-align: center;
}

.auth-button:hover {
    cursor: pointer;
    background-color:  var(--accent-color-hover);
}
