/* src/Header.css */

.header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    z-index: 99;
    background: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .header_logo-link {
      cursor: pointer;
      text-decoration: none;
      font-size: larger;
      font-weight: 600;
      color: inherit;
      
  }
  
.header_nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_nav-item {
    display: inline-block;
    padding: 0px 20px;
}

.header_nav-item:first-child {
    padding-left: 0;
}

.header_nav-link {
    text-decoration: none;
    color:var(--font-color);
    transition: color 0.3s ease;
}

.header_nav-link:hover {
    /* color: var(--accent-color-hover); */
}

.header_button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.header_button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
